body {
    font-family: "Lucida Sans", sans-serif;
    background-image: url("imagenes/fondo.png");
    padding: 20px;
}

header h1 {
    color: #f44336;
    text-align: center;
    border: 4px dashed #f44336;
    background-color: white; 
    padding: 5px; 
}

nav ul {
    list-style-type: none;
    text-align: center; 
}

nav ul li {
    display: inline-block; 
    margin: 15px; 
    padding: 10px; 
    background-color: #ff9800;
    color: white; 
    border: 2px solid #f44336; 
}

article:nth-of-type(even) {
    text-align: right; 
}

p {
    font-size: 20px; 
    font-weight: bold;
}

article:nth-of-type(odd) h2 {
    background-color: #f44336;
    padding: 5px; 
    color: white; 
}

article:nth-of-type(even) h2 {
    background-color: #ffc107; 
    padding: 5px; 
    color: white; 
}

aside ul {
    list-style-type: square; 
    font-style: italic; 
}

aside ul li:nth-child(1) {
    font-size: 24px;
    color: blue; 
}

aside ul li:nth-child(2) {
    font-size: 20px; 
    color: red; 
}

aside ul li:nth-child(3) {
    color: green; 
}

footer h1 {
    text-align: center; 
    font-size: 20px; 
    text-decoration: overline; 
}